.main-item {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  margin-top: 100px;
}

.model {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card {
  width: 25%;
  position: relative;
}

.card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(253, 189, 143, 0.4);
  backdrop-filter: blur(3px);
  text-align: start;
}

.card-body .card-title {
  color: #8064c2;
}

.card-body .card-text {
  color: #fff;
}

.image-model {
  width: 25%;
}

.glass-image {
  position: absolute;
  top: 103px;
  left: 343px;
  width: 12%;
  filter: opacity(80%);
}

/* class glasses css */
.glasses {
  margin-top: 150px;
  background-color: #fff;
  width: 100%;
  padding: 24px 16px;
}
